#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp L         &kp U         &kp MINUS  &kp COMMA                                                             &kp F        &kp W  &kp R  &kp Y  &kp P
&kp E           &kp I         &kp A         &kp O      &kp PERIOD             &kp LS(LG(S))      &none                       &kp K        &kp T  &kp N  &kp S  &kp H
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C      &kp V                  &none              &none                       &kp G        &kp D  &kp M  &kp J  &kp B
&kp LCTRL       &kp LEFT_WIN  &kp LEFT_ALT  &mo 5      &lt_to_layer_0 3 CAPS  &lt 4 SPACE        &lt_to_layer_0 2 BACKSPACE  &lt 1 ENTER                       &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM {
            bindings = <
&none  &none  &none  &none  &none                    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none
&none  &none  &none  &none  &none  &none      &none  &none            &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none
&none  &none  &none  &none  &none  &none      &none  &none            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none
&none  &none  &none  &none  &none  &none      &none  &trans                                                              &none
            >;
        };

        symbol {
            bindings = <
&none  &none  &none  &none  &none                     &none  &kp EXCLAMATION  &kp DOUBLE_QUOTES     &kp HASH               &none
&none  &none  &none  &none  &none  &none      &none   &none  &kp DOLLAR       &kp PERCENT           &kp AMPERSAND          &none
&none  &none  &none  &none  &none  &none      &none   &none  &kp APOSTROPHE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&none  &none  &none  &none  &none  &none      &trans  &none                                                                &none
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        SYMBOL2 {
            bindings = <
&kp TAB         &kp TILDE      &kp CARET    &kp EQUAL     &none                     &none  &kp LEFT_BRACE  &kp RIGHT_BRACE   &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&none           &kp GRAVE      &kp AT_SIGN  &kp PLUS      &none   &none      &none  &none  &kp LESS_THAN   &kp GREATER_THAN  &kp QUESTION      &kp SLASH
&kp LEFT_SHIFT  &kp SEMICOLON  &kp COLON    &kp ASTERISK  &none   &none      &none  &none  &kp UNDERSCORE  &kp BACKSLASH     &none             &none
&none           &none          &none        &none         &trans  &none      &none  &none                                                      &none
            >;
        };

        MOUSE {
            bindings = <
&kp ESC  &none     &kp UP    &none      &none                        &none  &none     &none  &none  &none
&none    &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none       &mkp MB2  &none  &mkp MB1  &none  &none  &none
&none    &none     &none     &none      &none  &none       &mkp MB3  &none  &none     &none  &none  &none
&none    &none     &none     &none      &none  &trans      &none     &none                          &none
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
